<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checklist de Segurança de Caminhão</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <h1>Checklist de Segurança de Caminhão</h1>
  <form action="/generate_pdf" method="post">
    <label for="data">Data:</label>
    <input type="date" id="data" name="data" required><br><br>
    
    <label for="placa">Placa do Caminhão:</label>
    <input type="text" id="placa" name="placa" required><br><br>
    
    <!-- Campos para os itens do checklist padrão -->
    <div id="default-items">
      <div class="item">
        <label for="Freios">Freios:</label>
        <select name="Freios" required>
          <option value="Conforme">Conforme</option>
          <option value="Não Conforme">Não Conforme</option>
        </select><br><br>
      </div>
      <div class="item">
        <label for="Luzes">Luzes:</label>
        <select name="Luzes" required>
          <option value="Conforme">Conforme</option>
          <option value="Não Conforme">Não Conforme</option>
        </select><br><br>
      </div>
      <div class="item">
        <label for="Pneus">Pneus:</label>
        <select name="Pneus" required>
          <option value="Conforme">Conforme</option>
          <option value="Não Conforme">Não Conforme</option>
        </select><br><br>
      </div>
      <div class="item">
        <label for="Óleo">Óleo:</label>
        <select name="Óleo" required>
          <option value="Conforme">Conforme</option>
          <option value="Não Conforme">Não Conforme</option>
        </select><br><br>
      </div>
      <div class="item">
        <label for="CintoDeSeguranca">Cinto de Segurança:</label>
        <select name="CintoDeSeguranca" required>
          <option value="Conforme">Conforme</option>
          <option value="Não Conforme">Não Conforme</option>
        </select><br><br>
      </div>
    </div>

    <!-- Campos para os itens do checklist flexíveis -->
    <div id="flexible-items">
      <!-- Aqui serão adicionados os itens flexíveis via JavaScript -->
    </div>

    <!-- Botão para adicionar mais itens -->
    <input type="button" value="Adicionar Item" onclick="addField()"><br><br>

    <input type="submit" value="Gerar PDF">
  </form>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>